designs/server/services/ids.json
[
    {
        "id": "sd_1YzJ0Nas9joUYO6G",
        "type": "tab",
        "createdDate": "2019-12-04T10:42:13.097Z",
        "label": "ids",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_cSOVj3ZNqCBxL1mu",
        "type": "HttpIn",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login API",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 92,
        "y": 286.953125,
        "wires": [
            [
                "sd_LtXhm9D5fL83WKZj"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_5QPlsNAYiothJHNm",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Create session details",
        "script": "bh.local.reqParams = {\n    state : crypto.randomBytes(16).toString('hex'),\n    nonce : crypto.randomBytes(16).toString('hex'),\n    isMobile : bh.input.query.isMobile,\n    redirectTo : bh.input.query.redirectTo\n};",
        "x": 618,
        "y": 168.21875,
        "wires": [
            [
                "sd_q69QAfDxCmYTax7l"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_q69QAfDxCmYTax7l",
        "type": "Session",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.reqParams",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "reqParams"
            }
        },
        "x": 763,
        "y": 410,
        "wires": [
            [
                "sd_zQ8Dtu20npUUpuau"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_hC2GslHjFKmWdTi0",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate IDS login redirect URL",
        "script": "const authorizationRequest = Object.assign({\n    redirect_uri: url.resolve(bh.web.req.href, '/api/login/cb'),\n    scope: 'openid profile email address phone user',\n    state: bh.local.reqParams.state,\n    nonce: bh.local.reqParams.nonce,\n    response_type: bh.input.client.response_types[0],\n}, bh.input.authParams);\n\nbh.local.redirectHeaders = {\n    location: bh.input.client.authorizationUrl(authorizationRequest)\n};\n",
        "x": 1194,
        "y": 160,
        "wires": [
            [
                "sd_iMSqxDO4EvTELR9O"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_zQ8Dtu20npUUpuau",
        "type": "CallService",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_LYgtWlje40y5PE4W",
            "serviceName": "idsutil"
        },
        "flow": {
            "flowId": "sd_qMYpv1hu5S6zfFW1",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "x": 903.8125,
        "y": 173.984375,
        "wires": [
            [
                "sd_3gsqsWGXj2GhtqUH"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_iMSqxDO4EvTELR9O",
        "type": "HttpOut",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect to IDS",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "obj",
        "responseMapping": {
            "status": 302,
            "obj": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "category": "HTTP",
        "x": 1343,
        "y": 408,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_ySC6hBoCNyAqb6b8",
        "type": "Switch",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if client is registered",
        "property": "idsConfigured",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.idsConfigured",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 388,
        "y": 286,
        "wires": [
            [
                "sd_5QPlsNAYiothJHNm"
            ],
            [
                "sd_r4R4pUk1mW9yhyjy"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_LtXhm9D5fL83WKZj",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Assert IDS config",
        "script": "bh.local.idsConfigured = false;\nif (settings.default.hasOwnProperty('ids') && settings.default['ids'].hasOwnProperty('client_id') &&\n    settings.default['ids'].hasOwnProperty('client_secret')) {\n    bh.local.idsConfigured = true;\n}",
        "x": 234,
        "y": 287,
        "wires": [
            [
                "sd_ySC6hBoCNyAqb6b8"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_AeoJudIQGnBzD5bQ",
        "type": "HttpOut",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send client not registered response",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "bh.local.res.message",
            "ssd_typedInputField": true
        },
        "httpcode": "404",
        "responseType": "obj",
        "responseMapping": {
            "status": 404,
            "obj": "bh.local.res.message",
            "send": "bh.local.res.message"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "category": "HTTP",
        "x": 1341,
        "y": 286,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_r4R4pUk1mW9yhyjy",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Client not registered object",
        "script": "bh.local.res = {\n    message: 'IDS client not registered. Register on the Neutrinos Stuido and try again'\n}",
        "x": 617,
        "y": 291,
        "wires": [
            [
                "sd_AeoJudIQGnBzD5bQ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_MHoyGz1AiMXaE9vJ",
        "type": "MiddlewareStart",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "start",
        "name": "hrefstart",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 517,
        "y": 691.796875,
        "wires": [
            [
                "sd_TdusKAW5eaHtHJzn"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_UTCCTNWVlpklXv4x",
        "type": "MiddlewareEnd",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Href end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "category": "HTTP",
        "x": 819.890625,
        "y": 692.796875,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_TdusKAW5eaHtHJzn",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate href",
        "script": "const protocol = bh.input.headers['x-forwarded-proto'] || bh.web.req.protocol;\nconst href = protocol + \"://\" + bh.web.req.get('Host') + bh.web.req.originalUrl;\nbh.web.req.href = href;",
        "x": 665,
        "y": 692.78125,
        "wires": [
            [
                "sd_UTCCTNWVlpklXv4x"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_3gsqsWGXj2GhtqUH",
        "type": "CallService",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get Scope and consent values",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_LYgtWlje40y5PE4W",
            "serviceName": "idsutil"
        },
        "flow": {
            "flowId": "sd_QD4cWUAfL4J68wwC",
            "flowName": "Get Authorization Params"
        },
        "inputVariables": [
            {
                "key": "authParams",
                "map": false,
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "authParams",
                "valueType": "bh.input",
                "value": "authParams",
                "mapVarName": "authParams",
                "localVar": "bh.input.authParams"
            }
        ],
        "callService": "idsutil",
        "startName": "getAuthorizationParams",
        "inputParams": [
            ""
        ],
        "x": 1051,
        "y": 415.78125,
        "wires": [
            [
                "sd_hC2GslHjFKmWdTi0"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_zkx1L9jubsHugBn8",
        "type": "HttpIn",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login Callback API",
        "path": "/login/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 88.890625,
        "y": 1038.796875,
        "wires": [
            [
                "sd_U2kMIKq4kCoMhwJA"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_js574RtqA5PcnyT7",
        "type": "CallService",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_LYgtWlje40y5PE4W",
            "serviceName": "idsutil"
        },
        "flow": {
            "flowId": "sd_qMYpv1hu5S6zfFW1",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "x": 453,
        "y": 1036.8125,
        "wires": [
            [
                "sd_JOmwCD0zud34mgUa"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_JOmwCD0zud34mgUa",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get userinfo and tokens ",
        "script": "const params = bh.input.client.callbackParams(bh.web.req);\nlet tokenset = await bh.input.client.callback(url.resolve(bh.web.req.href, 'cb'), params, {\n    'nonce': bh.input.sessionParams.data.nonce,\n    'state': bh.input.sessionParams.data.state\n});\n\nbh.local.redirectTo = bh.input.sessionParams.data.redirectTo\n\nbh.local.userDetails = {\n    tokenset: Object.assign({}, tokenset),\n    userInfo: await bh.input.client.userinfo(tokenset['access_token'])\n}\nbh.local.userDetails['tokenset']['claims'] = Object.assign({}, tokenset.claims());",
        "x": 616,
        "y": 1036.78125,
        "wires": [
            [
                "sd_MBSKiANUA1uEgtaA"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_U2kMIKq4kCoMhwJA",
        "type": "Session",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.input.sessionParams",
        "dataMapping": "",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": "sessionParams"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 262,
        "y": 1038.796875,
        "wires": [
            [
                "sd_js574RtqA5PcnyT7"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_VrWJNKT9Q4fYTaLQ",
        "type": "Switch",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Send response based on device type",
        "property": "sessionParams.data.isMobile",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.sessionParams.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1001,
        "y": 1035.78125,
        "wires": [
            [
                "sd_Cs2Z4d3BzOi0g5w2"
            ],
            [
                "sd_7wXkj0ZSsCpg0fQd"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Cs2Z4d3BzOi0g5w2",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Mobile html response",
        "script": "bh.local.htmlResponse = `\n <html>\n   <script>\n      let _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "x": 1229.390643119812,
        "y": 891.2812614440918,
        "wires": [
            [
                "sd_NWeHZ3rQQp89hTTl"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7wXkj0ZSsCpg0fQd",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Add location in headers obj",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.redirectTo\n}",
        "x": 1218.890640258789,
        "y": 1152.5312690734863,
        "wires": [
            [
                "sd_bBswx17pa0Pq9a28"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_NWeHZ3rQQp89hTTl",
        "type": "HttpOut",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Html response to close in app browser",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "htmlResponse",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "txt",
        "responseMapping": {
            "status": 200,
            "txt": "bh.local.htmlResponse",
            "send": "bh.local.htmlResponse"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "category": "HTTP",
        "x": 1488.500020980835,
        "y": 1141.781265258789,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_bBswx17pa0Pq9a28",
        "type": "HttpOut",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'Redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'Redirecting'",
            "send": "'Redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "category": "HTTP",
        "x": 1483.000020980835,
        "y": 903.2812633514404,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_MBSKiANUA1uEgtaA",
        "type": "Session",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.userDetails",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "userDetails"
            }
        },
        "x": 792,
        "y": 1036.78125,
        "wires": [
            [
                "sd_VrWJNKT9Q4fYTaLQ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7qTh219bjnzSJwL9",
        "type": "HttpIn",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get userinfo",
        "path": "/user/info",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "IDSAuthroizedAPIs",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/user/info": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 455.8125057220459,
        "y": 2060.734405517578,
        "wires": [
            [
                "sd_d6Mb8d1yaxUvy6oV"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_d6Mb8d1yaxUvy6oV",
        "type": "Session",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 653.0000057220459,
        "y": 2060.781280517578,
        "wires": [
            [
                "sd_LhbPCG2HJOLJYE89"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_LhbPCG2HJOLJYE89",
        "type": "HttpOut",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "session.data.userInfo",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.session.data.userInfo",
            "send": "bh.local.session.data.userInfo"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "category": "HTTP",
        "x": 819.0000057220459,
        "y": 2060.781280517578,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_K0xcL58QRoiE3nH8",
        "type": "Catch",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_3gsqsWGXj2GhtqUH",
            "sd_zkx1L9jubsHugBn8",
            "sd_js574RtqA5PcnyT7",
            "sd_JOmwCD0zud34mgUa",
            "sd_U2kMIKq4kCoMhwJA",
            "sd_VrWJNKT9Q4fYTaLQ",
            "sd_Cs2Z4d3BzOi0g5w2",
            "sd_7wXkj0ZSsCpg0fQd",
            "sd_NWeHZ3rQQp89hTTl",
            "sd_bBswx17pa0Pq9a28"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "x": 98.89062976837158,
        "y": 1233.0000343322754,
        "wires": [
            [
                "sd_qr9HfvOvGRiIsWJg"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_qr9HfvOvGRiIsWJg",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect back to login",
        "script": "bh.web.res.redirect('/api/login')",
        "x": 262.50000381469727,
        "y": 1231.0312690734863,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_lEczGZdJKusVkvpf",
        "type": "HttpIn",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout API",
        "path": "/logout",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 79.890625,
        "y": 1679.796875,
        "wires": [
            [
                "sd_SWSj4Fi33zQZfHO2"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_SWSj4Fi33zQZfHO2",
        "type": "Session",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 249,
        "y": 1679.78125,
        "wires": [
            [
                "sd_EwGrASMdnoyRbapm"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_EwGrASMdnoyRbapm",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.local.sessionExists = false;\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset) {\n    bh.local.sessionData['data']['redirectTo'] = bh.input.query['redirectTo'];\n    bh.local.sessionData['data']['isMobile'] = bh.input.query['isMobile'];\n    bh.local.sessionExists = true;\n} else {\n    delete bh.local.sessionData['redirectTo'];\n}",
        "x": 413,
        "y": 1678.78125,
        "wires": [
            [
                "sd_bkTVO569WydrEIfi"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_1EDYmCrCYz58N8GQ",
        "type": "Switch",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Session exists ",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 949,
        "y": 1676.78125,
        "wires": [
            [
                "sd_XCYUJA72dKvbu9nH"
            ],
            [
                "sd_Id1i6B4xLZIwz0Bx"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_XCYUJA72dKvbu9nH",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "await Promise.all([\n    bh.local.sessionData.data.tokenset.access_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.access_token, 'access_token') : undefined,\n    bh.local.sessionData.data.tokenset.refresh_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.refresh_token, 'refresh_token') : undefined,\n]);\n\nbh.local.res = {\n        'idsURL': url.format(Object.assign(url.parse(bh.input.client.issuer.end_session_endpoint), {\n            search: null,\n            query: {\n                id_token_hint: bh.local.sessionData.data.tokenset.id_token,\n                post_logout_redirect_uri: url.resolve(bh.web.req.href, '/api/logout/cb'),\n                client_id: settings.default['ids']['client_id']\n            },\n        })),\n        'sessionExists': true,\n}",
        "x": 1119.750015258789,
        "y": 1570.5312728881836,
        "wires": [
            [
                "sd_HvJrYVncH4Phjh6w"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_HLCvfD8WPlEhMjua",
        "type": "CallService",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_LYgtWlje40y5PE4W",
            "serviceName": "idsutil"
        },
        "flow": {
            "flowId": "sd_qMYpv1hu5S6zfFW1",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "x": 771.53125,
        "y": 1678.8125,
        "wires": [
            [
                "sd_1EDYmCrCYz58N8GQ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_HvJrYVncH4Phjh6w",
        "type": "HttpOut",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send IDS logout Url",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "category": "HTTP",
        "x": 1334.2500200271606,
        "y": 1688.7812728881836,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Id1i6B4xLZIwz0Bx",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = {\n        'sessionExists': false,\n}",
        "x": 1113.250015258789,
        "y": 1790.5312767028809,
        "wires": [
            [
                "sd_HvJrYVncH4Phjh6w"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_bkTVO569WydrEIfi",
        "type": "Session",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "bh.local.sessionData.data",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session"
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "sessionData.data"
            }
        },
        "x": 573,
        "y": 1677.78125,
        "wires": [
            [
                "sd_HLCvfD8WPlEhMjua"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_30hCanEYpDp3THbp",
        "type": "HttpIn",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout Callback API",
        "path": "/logout/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 163.1406421661377,
        "y": 2441.0469074249268,
        "wires": [
            [
                "sd_vNsKdqaR9w6Cv3FN"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_vNsKdqaR9w6Cv3FN",
        "type": "Session",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 347.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_yhmkE5njsXW9iRZq"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ZDpHlE8Ti33nYG1e",
        "type": "Switch",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check platform type",
        "property": "sessionData.data.isMobile",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionData.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 665.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_tP3Y6lEeO1vs9z4h"
            ],
            [
                "sd_aAP51SMy8k5m2bw0"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_tP3Y6lEeO1vs9z4h",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = \n`<html>\n   <script>\n      var _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "x": 850.2500171661377,
        "y": 2516.0312824249268,
        "wires": [
            [
                "sd_a3ObSqP1mcjlMB9n"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_a3ObSqP1mcjlMB9n",
        "type": "HttpOut",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send html response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "category": "HTTP",
        "x": 1083.2500171661377,
        "y": 2315.0312824249268,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_aAP51SMy8k5m2bw0",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.sessionData.data.redirectTo\n}",
        "x": 849.2500171661377,
        "y": 2337.0312824249268,
        "wires": [
            [
                "sd_JkGCiRJ8MZ5kzpWr"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_JkGCiRJ8MZ5kzpWr",
        "type": "HttpOut",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "category": "HTTP",
        "x": 1089.2500171661377,
        "y": 2516.0312824249268,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_yhmkE5njsXW9iRZq",
        "type": "Session",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 519.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_ZDpHlE8Ti33nYG1e"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_V1aoHZLOcjX6yqLp",
        "type": "MiddlewareStart",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "start",
        "name": "Authorize",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 80.8125,
        "y": 3182.71875,
        "wires": [
            [
                "sd_pnf7MidUymMQ6mCU"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_2VHwjWXVOXrHa7mg",
        "type": "Session",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 386,
        "y": 3178.78125,
        "wires": [
            [
                "sd_reoYLaRk0g3GP07r"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_8qcuEL3HwEn1pEQg",
        "type": "Switch",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if session exists",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 679,
        "y": 3173.78125,
        "wires": [
            [
                "sd_uhosxP0fWlQR2FXo"
            ],
            [
                "sd_rdF6fl2mr58xJAqz"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_rdF6fl2mr58xJAqz",
        "type": "Switch",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if it is the user info API.",
        "property": "path",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.path",
        "rules": [
            {
                "t": "cont",
                "v": "/user/info",
                "vt": "str",
                "gv": "\"/user/info\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 641,
        "y": 3388.78125,
        "wires": [
            [
                "sd_qmph0z3kZr2gtOj9"
            ],
            [
                "sd_wXihf2uQYbUxakN4"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_JlkeesWEWqxF1e32",
        "type": "HttpOut",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send the session not present response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "403",
        "responseType": "obj",
        "responseMapping": {
            "status": 403,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "category": "HTTP",
        "x": 1205,
        "y": 3366.78125,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_qmph0z3kZr2gtOj9",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { message: 'Session expired' };",
        "x": 892.890625,
        "y": 3386.78125,
        "wires": [
            [
                "sd_JlkeesWEWqxF1e32"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wXihf2uQYbUxakN4",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'NO_SESSION', message: 'Session not present' };",
        "x": 885,
        "y": 3522.8125,
        "wires": [
            [
                "sd_JlkeesWEWqxF1e32"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_uY7IJ1pabiyFgnQQ",
        "type": "Switch",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Token exists after refresh",
        "property": "newSession",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 846,
        "y": 2953.78125,
        "wires": [
            [
                "sd_v1oLKpGEZMCoTkF5"
            ],
            [
                "sd_W411H6RqzJCPKke8"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_4uF8I9kr6jfXbbwG",
        "type": "MiddlewareEnd",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Authorize end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "category": "HTTP",
        "x": 1484,
        "y": 2956.703125,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_4EOqxbfkQF5AISPS",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'TOKEN_EXPIRED', message: 'Token invalid or access revoked' };",
        "x": 884,
        "y": 3259.78125,
        "wires": [
            [
                "sd_JlkeesWEWqxF1e32"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_uhosxP0fWlQR2FXo",
        "type": "CallService",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Call handleTokenExpiry",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_LYgtWlje40y5PE4W",
            "serviceName": "idsutil"
        },
        "flow": {
            "flowId": "sd_18vo65LdHRkdp4ed",
            "flowName": "handleTokenExpiry"
        },
        "inputVariables": [
            {
                "key": "existingSession",
                "map": true,
                "valueType": "bh.local",
                "value": "sessionData"
            },
            {
                "key": "newSession",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "newSession",
                "valueType": "bh.local",
                "value": "newSession",
                "mapVarName": "newSession",
                "localVar": "bh.local.newSession"
            }
        ],
        "callService": "idsutil",
        "startName": "handleTokenExpiry",
        "inputParams": [
            "bh.local.sessionData",
            null
        ],
        "x": 631,
        "y": 2951.78125,
        "wires": [
            [
                "sd_uY7IJ1pabiyFgnQQ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_pnf7MidUymMQ6mCU",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local = {\n    \n}",
        "x": 227.890625,
        "y": 3180.78125,
        "wires": [
            [
                "sd_2VHwjWXVOXrHa7mg"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_reoYLaRk0g3GP07r",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.sessionExists = false;\n\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset &&\n    bh.local.sessionData.data.tokenset.access_token && bh.local.sessionData.data.tokenset.refresh_token) {\n    bh.local.sessionExists = true;\n}",
        "x": 550,
        "y": 3178.78125,
        "wires": [
            [
                "sd_8qcuEL3HwEn1pEQg"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_v1oLKpGEZMCoTkF5",
        "type": "Session",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 887,
        "y": 3093.78125,
        "wires": [
            [
                "sd_4EOqxbfkQF5AISPS"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_W411H6RqzJCPKke8",
        "type": "Switch",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Update session if token rotated",
        "property": "newSession.rotated",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession.rotated",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1051,
        "y": 2956.78125,
        "wires": [
            [
                "sd_J8Pm9WRy5cwkx2Bt"
            ],
            [
                "sd_4uF8I9kr6jfXbbwG"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_5Q55UuVUfJVpdHiD",
        "type": "Session",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.newSession",
        "dataMapping": "bh.local.newSession",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "newSession"
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "newSession"
            }
        },
        "x": 1331,
        "y": 2827.78125,
        "wires": [
            [
                "sd_4uF8I9kr6jfXbbwG"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_J8Pm9WRy5cwkx2Bt",
        "type": "Script",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "delete bh.local.newSession.rotated;",
        "x": 1192,
        "y": 2827.78125,
        "wires": [
            [
                "sd_5Q55UuVUfJVpdHiD"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_lizd0PMP5abxZRAk",
        "type": "Comments",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Idenity Server Login API",
        "comments": "<p>API used to authenticate users.</p>",
        "x": 685,
        "y": 58.78125,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_VX2bPP8uumhxA7C5",
        "type": "Comments",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Flow to add href to bh of the Origin",
        "comments": "",
        "x": 664,
        "y": 590.78125,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_FBGvp29NNwJLGTP5",
        "type": "Comments",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Login Callback API",
        "comments": "<p>After authentication, this is the API called by IDS to get Access token and user info</p>",
        "x": 685,
        "y": 897.2265625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_dOBy1is2Y1VZL4CR",
        "type": "Comments",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "IDS Logout API",
        "comments": "<p>API to redirect the user to IDS Logout page</p>",
        "x": 720.0000114440918,
        "y": 1527.226583480835,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_7UqzjEBjFAZ2KewF",
        "type": "Comments",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Fetch user info",
        "comments": "The API called by neutrinos-oauth-client module internally to fetch user info.",
        "x": 651.2500095367432,
        "y": 1947.2265892028809,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_xGdQ9rns9QyxynEt",
        "type": "Comments",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect the user back to Login",
        "comments": "<p>Redirect back to /login if the flow cannot fetch user info or access token.</p>",
        "x": 177.50000381469727,
        "y": 1310.9765815734863,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_zh6aG6xYViOwi9le",
        "type": "Comments",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check Authorization",
        "comments": "Use this middleware flow for all authorized APIs.",
        "x": 813.75,
        "y": 2805.9765625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_A5D7BNQCQujkNnUg",
        "type": "Comments",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Logout Callback API",
        "comments": "<p>The API redirected by IDS to destroy the user session.</p>",
        "x": 581.25,
        "y": 2288.4765625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_G86gDGinhKGGOBYD",
        "type": "Catch",
        "z": "sd_1YzJ0Nas9joUYO6G",
        "viewType": "common",
        "nodeType": "start",
        "name": "Catch HandleTokenExpiry",
        "selectedNodes": [
            "sd_uhosxP0fWlQR2FXo"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "x": 765,
        "y": 3260,
        "wires": [
            [
                "sd_4EOqxbfkQF5AISPS"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    }
]
